@model IEnumerable<Business_layer.ViewModel.productViewModel>

@{
    ViewBag.Title = "DeleteProduct";
}

<h2>DeleteProduct</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>productViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.ProductID)
        </dd>
        @*<dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.ProductDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProducteDiscount)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.ProducteDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AutherName)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.AutherName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.ProductImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfPage)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.NumberOfPage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.CategoryID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierID)
        </dt>

        <dd>
            @Html.DisplayNameFor(model => model.SupplierID)
        </dd>
            *@

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>